* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
  font-size: 23px;
  background: whitesmoke;
}

.header {
  height: 60px;
  width: auto;
    
}


/* Làm Menu */
.menu {
box-shadow: 0px 10px 15px rbg(0,0,0,0.1);
background: #08879B;
position: absolute;
width: 100%; 
height: 60px;
position: fixed;
border-radius: 5px;
}

ul.menu1  li {
  float: left;
  display: block;
  margin: 18px 29px;
  text-align: center;
}
ul.menu1 li  a{
  padding: 50px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.menu .menu1 li a, .menu .menu1 li label{
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu .menu1 li a:hover, .menu .menu1 li label:hover {
    background: #0AA9C2;
    color: #fff;
}

ul.Ten li {
    margin-left: 58px;
    font-family: cursive;
    font-size: 26px;
    float: left;
    padding: 12px;
    box-sizing: border-box;
    color: white;
}

/* Làm Thanh Tìm Kiếm */
.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

.search-box .input-box{
    position: relative;
    margin: 0px  30px;;
    padding: 15px;
    width: 0px;
    transition: 0.5s;

}

.search-box .input-box input {
    width: 100%;
    background: transparent;
    padding-right: 50px;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-family: cursive;
}

.search-box .input-box input::placeholder {
    color: white;
}

/*Nút Tìm kiếm*/
.search-box .search-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;

    font-size: 30px;
    color: white;
}

.search-box:hover > .input-box {
    width: 300px;
}


.clearfix { clear: both;}
/* Làm phần thân */
.Phanthan {
    height: 1000px;
    max-width: 100%;
    font-size: 45px;
    background: #CBD8F1;
    font-family: cursive;
}

.content {
    float: left;
    width: 50%;
    height: 750px;
}

.content h1{
    margin-top: 20px;
    font-size: 45px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.content p{
    margin-top: 30px;
    margin: 0px 15px;
    font-size: 20px;
    font-family: cursive;
}

.sidebar {
    float: left;
    max-width: 700px;
    width: 45%;
    margin-top: 30px;
    margin-top: 30px;
    padding: 25px 30px 30px 30px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #7C506B;
    z-index: 01;
}
.sidebar .header {
    font-family: cursive;
    font-size: 30px;
    font-weight: 600px;
    color: #2C3A47 ;
}
.sidebar nav{
    position: relative;
    font-size: 25px;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
}
.sidebar nav label i{
    font-family: cursive;
}
.sidebar nav label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #273c75;
    font-size: 30px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.sidebar nav label:hover {
    background: #B6A2CD;
}
#code:checked ~ nav label.code, 
#love:checked ~ nav label.love, 
#myself:checked ~ nav label.myself, 
#song:checked ~ nav label.song {
    color: #9799ba;
}
nav label i{
    padding-right: 7px;
}
nav .slider{
    position: absolute;
    height: 100%;
    width: 24%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: #B6A2CD;
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
#code:checked ~ nav .slider{
    left: 22%;
}
#love:checked ~ nav .slider{
    left: 26%;
}
#myself:checked ~ nav .slider{
    left: 50%;
}
#song:checked ~ nav .slider {
    left: 76%;
}
section .Item{
    display: none;
}
#Code:checked ~ section .content-1,
#love:checked ~ section .content-2,
#myself:checked ~ section .content-3,
#song:checked ~ section .content-4{
    display: block;
}
section .Item .title{
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
    padding: 15px 0 5px 0;
}
section .Item p{
    text-align: justify;
}
section .Item p{
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 2px;
}
.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

/*Phần giới thiệu và hình */
.profile { 
    padding: 30px;
    margin-left: 62%;
    
  }
  .card {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    background-color: #242628;
    overflow: hidden;
    position: none;
  }
  
  .card__img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: 0.25s;
    margin: 0 auto;
    margin-top: 15px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
.profile p { 
  color: white;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}

.make__icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.make__icon a{ 
  text-decoration: none;
}

.make__icon a::after {
  color: black;
}
.icon { 
  margin: 0 30px;
  cursor: pointer;
  position: relative;
}
.icon i {
  height: 50px;
  width: 50px;
  font-weight: 30px;
  border-radius: 50%;
  color: #1DA1F2;
  background: white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon .chung {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon .chung:before {
  position: none; 
  content: "";
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
}

.chung,
.icon i { 
  transition: 0.3s;
}

.icon:hover .chung {
  opacity: 1;
  pointer-events: auto;
  top: -70px;
}

.icon:hover i {
  color: whitesmoke;
}

.facebook .chung:before, 
.facebook:hover i, 
.facebook .chung { 
  background: #3B5998;
}

.instagram .chung:before, 
.instagram:hover i, 
.instagram .chung {
  background: #BC2A8D;
}


/* Làm phần footer của website*/
footer {
  height: 300px;
  max-width: 100%;
  background: #0AA9C2;
}
.main { 
  display: flex;
}
footer h2 {
  padding: 10px;
  color: white;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
footer p { 
  color: white;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}
.icon1 a { 
  color: #242628;
}
.icon1  a i { 
  font-size: 30px;
  margin: 10px;
  height: 40px;
  width: 40px;
  background: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.icon1 a i:hover {
  background: #1DA1F2;
}
.part_2 form {
  padding: 0 20px;
}
.part_2 form .text {
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.part_2 form .email {
  margin-top: 60px;
}
.part_2 form .massage { 
  margin-top: 10px;
}
.part_2 form input , .part_2 form textarea {
  width: 100%;
  font-size: 1.5rem;
  background: white;
  border: 1px solid #222;
  font-family: 'Courier New', Courier, monospace;
}
.part_2 form .nut {
  margin-top: 10px;
}
.part_2 form .nut button {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer; 
  transition: 0.3s;
  font-family: 'Courier New', Courier, monospace;
}
.part_2 form .nut button:hover {
  background: #1DA1F2;
  color: white;
}








  
  



 





















